In [5]:
import pandas as pd

In [6]:
cc_problem = pd.read_csv('data/codechef/problem.csv')
cf_problem = pd.read_csv('data/codeforces/problem.csv')

cc_tag = pd.read_csv('data/codechef/tag.csv')
cf_tag = pd.read_csv('data/codeforces/tag.csv')

In [7]:
cc_tag.head()

               tag  number
0       Algorithms    2551
1      Mathematics    1710
2  Data Structures     926
3      Basic Maths     626
4     Constructive     604

In [8]:
cf_tag.head()

                         tag       description
0                      2-sat  2-satisfiability
1              binary search               NaN
2                   bitmasks               NaN
3                brute force               NaN
4  chinese remainder theorem               NaN